/* Import font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
    --global-bg-color: #1E1D23;
    --panel-bg-color: #1C1B20;
    --terminal-bg-color: #131214;

    --blue-taskbar-bg-color: #27343C;
    --purple-taskbar-bg-color: #2A273A;

    --white-font-color: #FFFFFF;
    --grey-font-color: #727272;
    --blue-font-color: #61dab6;
    --green-font-color: #4AF985;
    --red-font-color: #F94A4A;
    --orange-font-color: #F49475;
    --yellow-font-color: #FFC224;
    --purple-font-color: #A037F3;
}

.blue {
    color: var(--blue-font-color);
}

.red {
    color: var(--red-font-color);
}

.yellow {
    color: var(--yellow-font-color);
}

.green {
    color: var(--green-font-color);
}

.orange {
    color: var(--orange-font-color);
}

.purple {
    color: var(--purple-font-color);
}

.grey {
    color: var(--grey-font-color);
}

/* No margin and padding on standard elements */
html, body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    color: var(--white-font-color);
}

body {
    background-color: var(--global-bg-color);
}

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

/* Styling layout */
.layout {
    width: 70%;
    margin-left: 15%;
}

/* Banner image styling */
nav {
    text-align: center;
    font-size: .8rem;
    margin-top: .5rem;
}

nav a {
    color: var(--white-font-color);
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    color: var(--orange-font-color);
    text-decoration: underline;
}


.top-image-container {
    padding: .5rem;
    position: relative;
    overflow: hidden;
}

.top-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: .5rem;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent 0%, var(--global-bg-color) 85%);
    pointer-events: none;
}

/* Intro panel styling */
.long-panel {
    background-color: var(--panel-bg-color);
    margin-bottom: 5rem;
    z-index: 10;
    border: 1px solid #303338;
    border-radius: .5rem;
}

.long-panel .taskbar {
    background-color: var(--blue-taskbar-bg-color);
    border-radius: .5rem .5rem 0rem 0rem;
}

.taskbar {
    display: flex;
}

.taskbar p {
    width: 50%;
    padding: .5rem 1rem;
    color: var(--blue-font-color);
}

.taskbar-icon {
    width: 50%;
    text-align: right;
    color: var(--white-font-color) !important;
}

.first-line {
    margin-top: 1rem;
}

.long-panel p {
    padding: .5rem 1rem;
}

.intro-panel p {
    width: 75%;
}

.long-panel .call-to-action {
    color: var(--blue-font-color);
    padding-top: 2rem;
}

.long-panel a {
    text-decoration: none;
    color: var(--orange-font-color);
    transition: .2s;
}

.long-panel a:hover {
    text-decoration: underline;
}

/* Terminal styling */
h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.terminal {
    background-color: var(--panel-bg-color);
    margin-bottom: 5rem;
    height: 80vh;
    border: 1px solid #303338;
    border-radius: .5rem;
}

.terminal .taskbar {
    background-color: var(--purple-taskbar-bg-color);
    border-radius: .5rem .5rem 0rem 0rem;
}

.terminal .taskbar p {
    padding: .5rem 1rem;
    color: var(--purple-font-color);
}

.terminal-content {
    padding: 1rem;
    height: 94%;
    overflow: scroll;
}

#progressBar {
    font-size: .6rem;
}

.terminal-content::-webkit-scrollbar, .tasks-container::-webkit-scrollbar {
    display: none;
}

.terminal-content, .tasks-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bottom-spacing {
    margin-bottom: 1rem;
}

.terminal-view {
    display: none;
}

.terminal-width {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0rem;
}

.terminal-toolbar-width {
  border-radius: 0rem;
}

.drag-bar {
  z-index: 10;
}

.text-art-style {
    white-space: pre;
    color: var(--green-font-color);
    margin-bottom: .5rem;
}

.welcome-msg-margin {
    margin-top: -1rem;
    color: var(--green-font-color);
}

/* Styling input fields */
.terminal-input {
background-color: inherit;
  border: none;
  outline: 0;
  color: #fff;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 50%;
}

.terminal-input:focus {
    outline: none;
}

/* Styling projects */
.tasks-container {
    height: 30rem;
    overflow-y: scroll;
}

.task-header {
    display: flex;
    width: 100%;
    margin-bottom: .5rem;
}

.task-icon {
    width: 5%;
}

.task-name {
    width: 55%;
}

.task-date {
    width: 20%;
    text-align: right;
}

.task-status {
    width: 20%;
    text-align: right;
}

.task-row {
    display: flex;
    width: 100%;
    transition: .2s;
    cursor: pointer;
}

.task-row:hover {
    background-color: var(--terminal-bg-color);
}

.task-row:hover .task-name {
    color: var(--orange-font-color);
}

.task-row .task-icon {
    width: 5%;
    color: var(--yellow-font-color);
}

.task-row .task-name {
    width: 55%;
}

.task-row .task-date {
    width: 20%;
    text-align: right;
    color: var(--grey-font-color);
}

.task-row .task-status {
    width: 20%;
    text-align: right;
}

.building {
    background-color: var(--red-font-color);
    padding: .2rem .5rem;
    border-radius: .3rem;
}

.complete {
    background-color: var(--green-font-color);
    padding: .2rem .5rem;
    border-radius: .3rem;
    color: var(--panel-bg-color);
}

.project-line-a {
    text-decoration: none !important;
}

.count-panel-row {
    display: flex;
    gap: 1rem;
    margin-top: -4rem;
    margin-bottom: 5rem;
}

.count-panel {
    width: 100%;
    padding: 1rem;
    background-color: var(--panel-bg-color);
    border-radius: .5rem;
    border: 1px solid #303338;
    height: 10rem;
    position: relative;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding-left: .5rem;
}

.purple-block {
    border-left: .6rem solid var(--purple-font-color);
    border-radius: .2rem;
}

.yellow-block {
    border-left: .6rem solid var(--yellow-font-color);
    border-radius: .2rem;
}

.blue-block {
    border-left: .6rem solid var(--blue-font-color);
    border-radius: .2rem;
}

.plus {
    color: var(--green-font-color);
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.min {
    color: var(--red-font-color);
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.counter {
    font-size: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
}

.loading {
    font-size: 1rem !important;
}

/* Styling resume */
.resume-row ul {
    display: none;
}

.resume-container {
    margin-top: 5rem;
}

.set-right {
    text-align: right;
}

h4 {
    margin-top: 1rem;
    padding: .5rem .2rem;
    color: var(--yellow-font-color);
    user-select: none;
}

.resume-item-large h4, .resume-item-small h4 {
    margin-top: 0rem;
    padding: .5rem 1rem;
    color: var(--blue-font-color);
}

.resume-title {
    width: 98%;
    padding: 0;
    margin-left: 1%;
    margin-bottom: .5rem;
    border-bottom: 2px dashed var(--grey-font-color);
}

.resume-row {
    widows: 100%;
    display: flex;
    transition: .2s;
    cursor: pointer;
}

.resume-row:hover {
    background-color: var(--terminal-bg-color);
}

.resume-item-large {
    width: 70%;
}

.resume-item-small {
    width: 30%;
}

.resume-item-large, .resume-item-small p {
    width: 100%;
}

.resume-item-small p {
    color: var(--grey-font-color);
    transition: .2s;
}

.resume-row:hover .resume-item-small p {
    color: var(--white-font-color);
}

ul {
    list-style: none;
    padding: 0rem 1rem;
}

.li-icon {
    font-size: .7rem;
    color: var(--grey-font-color);
}

.download-link {
    cursor: pointer;
    transition: .2s;
}

.download-link:hover {
    text-decoration: underline;
}

.practical-row {
    width: 100%;
    display: flex;
    margin-bottom: .3rem;
}

.practical-item {
    width: 100%;
    display: flex;
    transition: .2s;
    cursor: pointer;
}

.practical-item:hover {
    background-color: var(--terminal-bg-color);
}

.practical-name {
    width: 40%;
    color: var(--green-font-color);
}

.practical-value {
    width: 60%;
    text-align: right;
    border-right: 2px dashed var(--grey-font-color);
}

.skill-row {
    width: 100%;
    display: flex;
    margin-bottom: .3rem;
}

.skill-item {
    width: 100%;
    display: flex;
    transition: .2s;
    cursor: pointer;
}

.skill-item:hover {
    background-color: var(--terminal-bg-color);
}

.skill-name {
    width: 50%;
    color: var(--green-font-color);
}

.skill-value {
    width: 50%;
    text-align: right;
    border-right: 2px dashed var(--grey-font-color);
}

.last-skill {
    border: none;
}

/* Footer styling */
.footer-row {
    width: 100%;
    display: flex;
}

.footer-column {
    width: 100%;
}

.list-header {
    color: var(--yellow-font-color);
    padding-bottom: .5rem;
}

.footer-link {
    color: var(--white-font-color) !important;
}

.notfound-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10rem;
    text-align: center;
}

.notfound {
    font-size: 10rem;
    font-weight: 400;
    color: var(--red-font-color);
}

.notfound-section a {
    color: var(--blue-font-color);
}

/* Mobile view */

@media only screen and (max-width: 1000px) {

    /* Styling layout */
    .layout {
        padding: .5rem;
        margin-left: 0;
        width: 100%;
        font-size: .8rem;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    nav {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .top-image {
        height: 20vh;
    }

    .intro-panel p {
        width: 100%;
    }

    .terminal-input {
      font-size: .8rem;
    }

    .task-icon, .task-date {
        display: none;
    }

    .task-row {
        width: 100%;
    }

    .task-name {
        width: 80%;
    }

    .task-status {
        width: 20%;
    }

    .task-row .task-name {
        width: 80%;
    }
    
    .task-row .task-status {
        width: 20%;
        text-align: right;
    }

    .count-panel-row, .skill-row, .footer-row {
        flex-direction: column;
    }

    .text-art-style {
        font-size: .5rem;
    }
}

/* ---------- Blog page styling ---------- */

/* Blog intro styling */
.blog-title {
    margin-top: 2rem;
}

.blog-long-panel {
    background-color: var(--panel-bg-color);
    margin-bottom: 5rem;
    border: 1px solid #303338;
    border-radius: .5rem;
}

.blog-long-panel .taskbar {
    background-color: var(--blue-taskbar-bg-color);
    border-radius: .5rem .5rem 0rem 0rem;
}

.blog-long-panel p {
    padding: .5rem 1rem;
}

/* Blog list styling */
.blog-row {
    min-height: 60vh;
    margin-bottom: 5rem;
    padding: 0;
}

.blog-row a {
    text-decoration: none;
}

.blog-item {
    background-color: var(--panel-bg-color);
    border-radius: 0.5rem;
    border: 1px solid #303338;
    padding: 1rem;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    height: 8rem;
    margin-bottom: .5rem;
}

.blog-item:hover {
    background-color: var(--terminal-bg-color);
    border: 1px solid var(--green-font-color);
}

.blog-title-row h3 {
    transition: .2s;
}

.blog-item:hover .blog-title-row h3 {
    margin-left: 1rem;
}

.blog-item:hover .inner-blog-item img {
    padding: .2rem;
}

.inner-blog-item {
    width: 100%;
    display: flex;
}

.inner-blog-item img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    /* border-radius: .5rem; */
    transition: .2s;
}

.inner-blog-content {
    margin-left: .5rem;
    width: 100%;
    height: 6rem;
    position: relative;
}

.blog-intro-text {
    width: 75%;
    position: absolute;
    bottom: 0;
    margin-left: .5rem;
    transition: .2s;
}

.blog-title-row {
    display: flex;
    width: 100%;
}

.blog-title-row h3 {
    width: 70%;
}

.blog-title-row p {
    text-align: right;
    width: 30%;
}

/* Blog filter */
.blog-filter-row {
    width: 100%;
}

.innder-blog-row {
    display: flex;
}

.blog-filter-list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    width: 70%;
}

.blog-filter-list li {
    background-color: var(--terminal-bg-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: .8rem;
    cursor: pointer;
}

.blog-filter-input {
    text-align: right;
    width: 30%;
    border: none;
    padding: .5rem 1rem;
    background-color: var(--terminal-bg-color);
    border-radius: .5rem;
    color: var(--white-font-color);
    font-size: .8rem;
}

.blog-filter-input:focus {
    outline: 1px solid var(--blue-font-color);
  }
